<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <ul>
        <% data.forEach((val)=>{ %>
            <li><a href="<%= val.path %>"><%= val.content %></a></li>
        <% }); %>
        
    </ul>
    </body>
</html>